@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply bg-gradient-to-tr from-purple-500 to-pink-500 selection:bg-white selection:text-[hotpink];
  }
}

@layer components {
  .accent-border {
    @apply border-2 border-white border-opacity-40;
  }
  .accent-border-bottom {
    @apply border-b-2 border-white border-opacity-40;
  }
  .accent-border-top {
    @apply border-t-2 border-white border-opacity-40;
  }
  .accent-input {
    @apply xsm:py-1 md:py-2 px-4 border-2 border-white border-opacity-40 rounded-md outline-none xsm:text-sm md:text-lg bg-transparent text-white placeholder:text-white;
  }
  .accent-textarea {
    @apply bg-inherit text-white xsm:text-sm md:text-lg font-semibold placeholder:text-white border-2 border-white focus:outline-none border-opacity-40 rounded-md p-2 w-full;
  }
}

.react-tabs__tab--selected {
  color: #ff69b4;
  background-color: white;
  border-radius: 4px;
  outline: none;
}
